<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<button><a href="/prestamos_no_devueltos">prestamos no devueltos</a></button></p>
<button><a href="/catalogo">catalogo</a></button></p>
<body>
    {{{body}}}
</body>
</html>
